.container {

}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pokemon-card {
    background-color: bisque;
    border: blanchedalmond 2px solid;
}