.pokemon-page {
  .PokemonCard {
    margin: 5% auto;
    padding: 15px;
    width: 500px;
    background: #366e87;
    border: #244b5c 5px solid;
    border-radius: 15px;

    color: white;
    font-size: 1.6rem;

    .pokemon-info {
      display: grid;
      grid-template-areas:
            "info stats";
    }

    .pokemon-general-info {
      grid-area: info;
    }


    .stats {
      grid-area: stats;
    }

    image {
      width: 475px;
    }

    p {
      color: red;
      font-weight: 500;
    }
  }

  min-height: 100vh;
}
