.pokemon-page {
  .PokemonCard {
    margin: 5% auto;
    width: 500px;
    background: #366e87;
    text-align: center;
    border: #244b5c 5px solid;
    border-radius: 15px;

    color: white;
    font-size: 1.6rem;

    image {
      width: 475px;
    }

    p {
      color: red;
      font-weight: 500;
    }
  }
min-height: 100vh;
}
